@model IEnumerable<Weixight.CExchange.AgricGator.Models.NewsItems>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdLayout.cshtml";
}


<div class="content container-fluid">
    <div class="card-box m-b-0 panel panel-danger" style="margin-top:20px">
        <div class="row">
            <div class="col-xs-4">
                <h4 class="page-title">News Items</h4>

            </div>
            <div class="col-xs-8 text-right m-b-30">
                <a asp-action="Create" class="btn btn-primary pull-right rounded"><i class="fa fa-plus"></i> Create New</a>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @ViewBag.Exist
                <div class="table-responsive">
                    <table class="table table-striped custom-table datatable" id="example">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Tittle)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Highlight)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Details)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.activate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PostedDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Picture)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tittle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Highlight)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Details)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.activate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PostedDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Picture)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    </div>
                
</div>
</div>
</div>
</div>